<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
  </head>
  <body>
    <div id="plotDiv">
    </div>
  </body>
  <!-- referenced from the web root specified in ../app.js -->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/plotly-latest.min.js"></script>
  <script src="javascripts/line_plot.js"></script>
</html>
